<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wings.a24chickenwings">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher_chicken"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher_chicken_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_done"></activity>
        <activity android:name=".activity_family"></activity>
        <activity android:name=".activity_login"></activity>
        <activity android:name=".activity_orders"></activity>
        <activity android:name=".activity_sides"></activity>
        <activity android:name=".activity_signup"></activity>
        <activity android:name=".activity_singles"></activity>
        <activity android:name=".activity_step1"></activity>
    </application>

</manifest>